@model GalleryViewModel
@{
    ViewData["Title"] = "Gallery";
}

    <div class="container">
        <div class="row" style="margin-bottom: 50px">
            <div class="col-2 text-left">
                <button type="button" onclick="parent.location='/'" class="btn btn-primary">Go back</button>
            </div>
            <div class="col-4 text-left">
                <h4>@Model.Name</h4>
            </div>
            <div class="col-6 text-right">
                <button type="button" onclick="parent.location='/gallery/@Model.Id/images/add'" class="btn btn-primary">Upload New Image</button>
            </div>
        </div>
        <div class="row">
            @foreach (var Image in Model.Images)
            {
            <div class="col-3 text-center" style="margin-bottom: 50px">
                <div style="        width: 100%;
        height: 150px;
        background-image: url('@Image.GetFullPath()');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;"></div>
                <span>@Image.Label</span>
                <br />
                <button type="button" class="btn btn-primary" onclick="parent.location='/gallery/@Model.Id/images/@Image.Id/edit/'">Edit</button>
                <button type="button" class="btn btn-danger" onclick="parent.location='/gallery/@Model.Id/images/@Image.Id/delete/'">Delete</button>
            </div>
            }
        </div>
    </div>
